.home-container {
    height: 100vh;
    width: 100%;
    display: flex;
    padding: 0.5rem;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: 1rem;
}

.text-container {
    width: 50%;
    height: 40rem;
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.text-title {
    padding: 1rem;
    font-size: 4.5rem;
}

.home-description-container {
    padding: 0.8rem;
    box-sizing: border-box;
    width: 100%;
    opacity: 0.7;
    font-size: 1.7rem;
    margin: 0.4rem;
}

.button-container {
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.firstButton {
    box-sizing: border-box;
    border-radius: 20px;
    width: 12rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background-color: #DD761C;
    color: white;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

.firstButton input[type="button"] {
    background-color: transparent;
    outline: none;
    color: white;
    border: none;
}

.firstButton.expanded {
    width: 50rem;
    position: absolute;
    height: 40rem;
    transition: width 0.5s ease, height 0.5s ease;
}

.secondButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 12rem;
    padding: 0.4rem;
    box-sizing: border-box;
    width: auto;
    background-color: white;
    color: black;
    border-radius: 20px;
}

.secondButton input[type="button"] {
    outline: none;
    width: 8rem;
    border: none;
}

.image-container {
    width: 50%;
    height: 40rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
