.ipc-ai-container {
    box-sizing: border-box;
    border-radius: 20px;
    width: 16rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background-color: white ;
    color: black;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

.ipc-ai-container.clicked {
    margin-bottom: 12rem;
    position: absolute;
    height: 40rem;
    width: 45rem;
    opacity: 1;
    z-index: 1;
}

.ipc-ai-chat-box {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.ipc-ai-chat-box-header {
    box-sizing: border-box;
    padding: 0.8rem;
    height: 5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 20px 20px 0 0;
}

.ipc-ai-chat-box-screen {
    height: 88%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    overflow-y: auto;
    padding: 1rem;
}
.ipc-ai-chat-box-screen::-webkit-scrollbar {
    display: none;
  }
.ipc-ai-chat-box-inputs {
    background-color: #80C4E9;
    border-radius: 0 0 20px 20px;
    height: 10%;
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #ddd;
}

.ipc-ai-chat-box-inputs input[type="text"] {
    width: 90%;
    padding: 0.4rem;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.1rem;
    border-radius: 20px;
    background-color: #80C4E9;
}



.user-message,
.bot-message {
    display: flex;
    align-items: center;
    width: 90%;
    height: auto;
    padding: 1rem;
    font-size: 1.3rem;
    border-radius: 20px;
    word-wrap: break-word;
}

.user-message {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #3ABEF9;
    border-radius: 20px 20px 0 20px;
}

.bot-message {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    background-color: orange;
    border-radius: 20px 20px 20px 0;
}
