.navigationBar-container {
    height: 8rem;
    width: 100%;
    box-sizing: border-box;
    border-bottom: solid 1px white;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.navigation-title {
    height: 100%;
    width: 20%;
    gap: 0.3rem;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: white;
    justify-content: center;
}

.navigation-title img {
    width: 30%;
    height: 100%;
    object-fit: contain;
}

.navigation-components {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    font-size: 1.2rem;
    position: relative;
}

.nav {
    position: relative;
    cursor: pointer;
}

.nav::before {
    content: "";
    position: absolute;
    bottom: -5px; /* Adjust as needed */
    left: 0;
    width: 0;
    height: 3px; /* Adjust as needed */
    background-color: white; /* Adjust as needed */
    transition: width 0.3s ease;
}

.nav:hover::before {
    width: 100%;
}

.about-buttons {
    gap: 2rem;
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.about-buttons input[type="button"]{
    color: white;
    font-size: 1rem;
    border-radius: 20px;
    outline: none;
    border: none;
    height: 2.5rem;
    width: 50%;
    background-color:#DD761C ;
}